body {
    padding 0px;
    overflow:hidden;
}

.url{
	left: 30px;
	height: 48px;
  width: 48px;
  top:50%;
  margin-top: -48px;
  position: absolute;
	z-index:100;
}

.url_text{

	left: 30px;
	height: 48px;
   width: 48px;
   top:50%;
   margin-top: 0px;
   position: absolute;
	z-index:100;
	cursor: pointer;
}

.menu{
margin: 0px;
    background: #000000;
    opacity: 0.4;
   width: 200px;
   height:100%;

   position: absolute;
	z-index:100;

	    top:0;
        bottom:0;
        right:0;
        left:0;
}

.menu_item{
text-decoration: none;
color: #ffffff;
text-align: left;
font-family: 'Comfortaa', cursive;
}

.menu_item:hover{
text-decoration: none;
color: #dddddd;
text-align: left;
font-family: 'Comfortaa', cursive;
}

.style-1 input[type="text"] {

	    top:0;
        bottom:0;
        right:0;
        left:0;

  padding: 10px;
  border: solid 1px gainsboro;
  -webkit-transition: box-shadow 0.3s, border 0.3s;
  -moz-transition: box-shadow 0.3s, border 0.3s;
  -o-transition: box-shadow 0.3s, border 0.3s;
  transition: box-shadow 0.3s, border 0.3s;
}
.style-1 input[type="text"]:focus, .style-1 input[type="text"].focus {
  border: solid 1px #707070;
  -webkit-box-shadow: 0 0 5px 1px #969696;
  -moz-box-shadow: 0 0 5px 1px #969696;
  box-shadow: 0 0 5px 1px #969696;
}

.text{
	

	left: 30px;
  position: relative;  
  width: 20%;
  top:50%;
  margin-top: 50px;
  position: absolute;
  z-index:100;
	background-color: #ffffff;  
  
  opacity: 0.0;

  
border-top-left-radius: 15px;
border-top-right-radius: 15px;
border-bottom-right-radius: 15px;
border-bottom-left-radius: 15px;
  
padding: 2px;
border: 1px solid #000000;
-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);  
  
}


.border{
	
  height: 600px;
  width: 900px;
  left:50%; 
  top:50%;
  margin-top: -300px;
  margin-left: -25%;
  position: absolute;
z-index:99;
	
padding: 2px;
background: #00ffffff;
border: 1px solid #000000;
-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
}

.box_4 {
  height: 600px;
  width: 900px;
  left:50%; 
  top:50%;
  margin-top: -300px;
  margin-left: -25%;
  position: absolute;
z-index:100;



   -moz-transform: rotate(0deg); /* Для Firefox */
    -ms-transform: rotate(0deg); /* Для IE */
    -webkit-transform: rotate(0deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(0deg); /* Для Opera */
    transform: rotate(0deg); 

  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  
}


.box_1 {
	
  height: 600px;
  width: 900px;
  top: -100%;
  left: 50%; 
  margin-top: -300px;
  margin-left: -300px;
   -moz-transform: rotate(30deg); /* Для Firefox */
    -ms-transform: rotate(30deg); /* Для IE */
    -webkit-transform: rotate(30deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(30deg); /* Для Opera */
    transform: rotate(30deg); 
  position: absolute;
z-index:50;
zoom: 1;
	filter: alpha(opacity=40);
	opacity: 0.0;
	

  
}

.box_2 {
	
  height: 600px;
  width: 900px;
  top: -50%;
  left: 50%; 
  margin-top: -300px;
  margin-left: -300px;
   -moz-transform: rotate(30deg); /* Для Firefox */
    -ms-transform: rotate(30deg); /* Для IE */
    -webkit-transform: rotate(30deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(30deg); /* Для Opera */
    transform: rotate(30deg); 
  position: absolute;
z-index:50;
zoom: 1;
	filter: alpha(opacity=40);
	opacity: 0.4;
	
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  
}

.box_3 {
	
  height: 600px;
  width: 900px;
  top: 0%;
  left:50%; 
  margin-top: -300px;
  margin-left: -300px;
   -moz-transform: rotate(15deg); /* Для Firefox */
    -ms-transform: rotate(15deg); /* Для IE */
    -webkit-transform: rotate(15deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(15deg); /* Для Opera */
    transform: rotate(15deg); 
  position: absolute;
z-index:50;
zoom: 1;
	filter: alpha(opacity=40);
	opacity: 0.4;
	
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  
}

.box_5 {
	z-index:25;
  height: 600px;
  width: 900px;
  top: 100%;
  left:50%; 
  margin-top: -300px;
  margin-left: -300px;
   -moz-transform: rotate(-15deg); /* Для Firefox */
    -ms-transform: rotate(-15deg); /* Для IE */
    -webkit-transform: rotate(-15deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(-15deg); /* Для Opera */
    transform: rotate(-15deg); 
  position: absolute;
zoom: 1;
	filter: alpha(opacity=40);
	opacity: 0.4;
	
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  
}

.box_6 {
	z-index:20;
  height: 600px;
  width: 900px;
  top: 150%;
  left:50%; 
  margin-top: -300px;
  margin-left: -300px;
   -moz-transform: rotate(-30deg); /* Для Firefox */
    -ms-transform: rotate(-30deg); /* Для IE */
    -webkit-transform: rotate(-30deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(-30deg); /* Для Opera */
    transform: rotate(-30deg); 
  position: absolute;
zoom: 1;
	filter: alpha(opacity=40);
	opacity: 0.4;
	
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  
}

.box_7 {
	
  height: 600px;
  width: 900px;
  top: 200%;
  left:50%; 
  margin-top: -300px;
  margin-left: -300px;
   -moz-transform: rotate(-30deg); /* Для Firefox */
    -ms-transform: rotate(-30deg); /* Для IE */
    -webkit-transform: rotate(-30deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(-30deg); /* Для Opera */
    transform: rotate(-30deg); 
  position: absolute;
zoom: 1;
	filter: alpha(opacity=40);
	opacity: 0.0;
	
  
}


.body_zero_opacity{
	 opacity: 0;
}



.body_bg{

 z-index: 1;
 position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    overflow-x: hidden;

background-size:100% 100%;

  opacity: 0.3;
-webkit-transition: background-image 1s ease-in-out;
-moz-transition: background-image 1s ease-in-out;
-ms-transition: background-image 1s ease-in-out;
-o-transition: background-image 1s ease-in-out;
transition: background-image 1s ease-in-out;


	background-image: url(img_bg/4.jpg);

}
